* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body .top {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/landing-page.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.top header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.top header .headMenu {
  display: flex;
  align-items: center;
}

.top header .logo p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8rem;
  color: #d3c098;
  font-weight: 600;
}

.top header .headMenu ul li {
  display: inline-block;
  margin: 0 1rem;
}

.top header .headMenu ul li a {
  text-decoration: none;
  color: #d3c098;
  font-size: 1rem;
}

.top .content {
  width: 50%;
  padding: 0 0 0 7rem;
  margin-top: 8rem;
}

.top .content .title p {
  font-size: 2.5rem;
  font-weight: 600;
  color: #e1d3b8;
  margin-bottom: 1.5rem;
}

.top .content .desc p {
  color: #e9e4dc;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

.top .content .btn li {
  display: inline-block;
  margin: 0 0.5rem 0 0;
}

.top .content .btn a {
  color: #795757;
  background-color: #e9e4dc;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
}
